@import url(/css/font.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*-------------------------------------------- */
/*            root color area                  */
/*---------------------------------------------*/
/*-------------------------------------------- */
/*            root color area end              */
/*---------------------------------------------*/
body {
  background-color: #f9fffe;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

/*-------------------------------------------- */
/*               Header area                   */
/*---------------------------------------------*/
header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.294))), url(images/crabs.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.294) rgba(0, 0, 0, 0.5)), url(images/crabs.jpg);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

header .hero-text {
  position: absolute;
  top: 50%;
  left: 20%;
}

header .hero-text .button-primary {
  color: #ffffff;
  background-color: #1fbaf8;
  border-radius: 5px;
  font-size: 30px;
  padding: 2px 2px;
  border-color: #61cbf5;
  font-family: "Arima Madurai", cursive;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

header .hero-text .button-primary:hover {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

header .hero-text_primary {
  font-weight: bolder;
  color: #0ae8f0;
  -webkit-animation-name: moveOutStill;
          animation-name: moveOutStill;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  font-size: 50px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  font-family: "Arima Madurai", cursive;
}

header .hero-text_primary .hero-text_primary_sub {
  font-family: "Arima Madurai", cursive;
  color: whitesmoke;
  font-size: 30px;
}

.main-header .main-header_text {
  text-transform: uppercase;
  text-align: center;
  float: left;
  color: #ffffff;
  text-decoration: none;
}

.main-header .main-header_text h1 {
  text-decoration: none;
}

.main-header .main-header_text h1 a {
  font-weight: 700;
  font-family: "Arima Madurai", cursive;
  margin: 30px 0 0 30px;
  color: #0ae8f0;
  font-size: 40px;
  text-decoration: none;
}

.main-header .main-header_text h1 a span {
  font-weight: 900;
  color: #ffffff;
}

h3 {
  color: whitesmoke;
}

/*-------------------------------------------- */
/*            Header area end                  */
/*---------------------------------------------*/
/*-------------------------------------------- */
/*               Navbar area                   */
/*---------------------------------------------*/
.navbar {
  float: right;
  margin: 20px 40px 0 0;
}

.navbar .navbar li {
  display: inline-block;
  font-weight: bold;
}

.navbar .navbar li a:link,
.navbar .navbar li a:visited {
  padding: 8px 0;
  text-decoration: none;
  color: white;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.navbar .navbar-nav .nav-link:hover {
  color: #0ae8f0;
}

.nav-link {
  font-size: 18px;
  letter-spacing: 1px;
  margin-left: 20px;
  font-family: "Lato";
}

a {
  font-weight: 300;
}

.navbar li a {
  font-weight: 300;
  padding-right: 100px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-weight: 600;
}

.navbar-nav .nav-item .nav-link {
  padding-right: 20px;
}

/*-------------------------------------------- */
/*               Navbar area end               */
/*---------------------------------------------*/
/*-------------------------------------------- */
/*            keyframes                         */
/*---------------------------------------------*/
@-webkit-keyframes moveOut {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-10px);
            transform: translate3d(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes moveOut {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-10px);
            transform: translate3d(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveOutStill {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveOutStill {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  /*
80% {
       transform: translateX(10px);
 }
*/
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  /*
80% {
       transform: translateX(10px);
 }
*/
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

/*-------------------------------------------- */
/*            keyframes end                    */
/*---------------------------------------------*/
/*-------------------------------------------- */
/*            services area starts                   */
/*---------------------------------------------*/
.our-services {
  background-color: #f9fffe;
  margin: 0;
  width: 100%;
}

.services-header {
  text-align: center;
  color: black;
  font-weight: 700;
  margin-top: 50px;
  padding-top: 50px;
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  text-transform: uppercase;
}

.services-header:after {
  display: block;
  height: 2px;
  width: 150px;
  content: "";
  margin: 0 auto;
  background-color: #0fb6e9;
  margin-top: 20px;
  margin-bottom: 30px;
}

.services-text {
  font-weight: 500;
  color: #3a3838;
  font-size: 20px;
  -webkit-animation-name: moveOutStill;
          animation-name: moveOutStill;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  font-family: "Lato";
  padding-bottom: 200px;
}

.services-section {
  background-color: #e2fbf1;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 50px;
}

.services-section h3 {
  text-align: center;
  margin: auto;
  padding-top: 25px;
  color: black;
  font-weight: 500;
}

.services-section .paragraph {
  font-weight: normal;
}

.services-section .fish-section {
  background-color: #82dff66b;
  -webkit-animation-name: moveOut;
          animation-name: moveOut;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  width: 30%;
  margin: 20px 0;
  -webkit-box-shadow: 4px 4px 11px 0px rgba(50, 50, 50, 0.61);
          box-shadow: 4px 4px 11px 0px rgba(50, 50, 50, 0.61);
}

.services-section img {
  width: 100%;
  padding: 30px;
}

.services-section .chicken-section {
  background-color: #82dff66b;
  -webkit-animation-name: moveOut;
          animation-name: moveOut;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  width: 30%;
  margin: 20px 0;
  -webkit-box-shadow: 4px 4px 11px 0px rgba(50, 50, 50, 0.61);
          box-shadow: 4px 4px 11px 0px rgba(50, 50, 50, 0.61);
}

.services-section .shrimp-section {
  background-color: #82dff66b;
  -webkit-animation-name: moveOut;
          animation-name: moveOut;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  width: 30%;
  margin: 20px 0;
  -webkit-box-shadow: 4px 4px 11px 0px rgba(50, 50, 50, 0.61);
          box-shadow: 4px 4px 11px 0px rgba(50, 50, 50, 0.61);
}

.services-section .crab-section {
  background-color: #82dff66b;
  -webkit-animation-name: moveOut;
          animation-name: moveOut;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  margin: 20px 0;
  width: 30%;
  -webkit-box-shadow: 4px 4px 11px 0px rgba(50, 50, 50, 0.61);
          box-shadow: 4px 4px 11px 0px rgba(50, 50, 50, 0.61);
}

.services-section .gizzard-section {
  background-color: #82dff66b;
  -webkit-animation-name: moveOut;
          animation-name: moveOut;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  width: 30%;
  margin: 20px 0;
  -webkit-box-shadow: 4px 4px 11px 0px rgba(50, 50, 50, 0.61);
          box-shadow: 4px 4px 11px 0px rgba(50, 50, 50, 0.61);
}

.services-section .prawn-section {
  background-color: #82dff66b;
  -webkit-animation-name: moveOut;
          animation-name: moveOut;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
  width: 30%;
  margin: 20px 0;
  -webkit-box-shadow: 4px 4px 11px 0px rgba(50, 50, 50, 0.61);
          box-shadow: 4px 4px 11px 0px rgba(50, 50, 50, 0.61);
}

p {
  padding: 0 30px;
  font-weight: bold;
}

.seafood-photo {
  text-align: center;
  overflow: hidden;
}

/*-------------------------------------------- */
/*               Services area end             */
/*---------------------------------------------*/
/*-------------------------------------------- */
/*               Gallery area                  */
/*---------------------------------------------*/
.gallery-section {
  padding-bottom: 50px;
}

.gallery-header {
  text-align: center;
  color: black;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.gallery-header:after {
  display: block;
  height: 2px;
  width: 150px;
  content: "";
  margin: 0 auto;
  background-color: #0fb6e9;
  margin-top: 20px;
  margin-bottom: 30px;
}

.carousel-inner {
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}

/*-------------------------------------------- */
/*            Gallery area end                  */
/*---------------------------------------------*/
/*-------------------------------------------- */
/*               footer  area                  */
/*---------------------------------------------*/
.main-footer {
  width: 100%;
  height: 24rem;
  background-color: #12a7b4;
  font-family: Roboto, sans-serif;
}

.main-footer .social-links ul {
  margin: 50px 0 0 0;
  list-style: none;
}

.main-footer .social-links ul li {
  color: white;
  font-weight: 500;
}

.main-footer .social-links ul li h2 {
  color: #201e1e;
}

.main-footer .social-links ul li .follow {
  margin-right: 10px;
}

.main-footer .social-links ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.main-footer .social-links ul li a:hover {
  color: black;
}

.main-footer .social-links .social li {
  display: inline;
  padding-right: 10px;
  margin-right: 5px;
}

.main-footer .social-links .menu-links li {
  margin-bottom: 10px;
}

.ionicon {
  width: 30px;
  height: 30px;
  fill: white;
}

.mt-5 {
  width: 1200px;
  color: white;
}

.design li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.design li a:hover {
  color: #df480c;
}

.design li {
  list-style: none;
  float: right;
}

.design {
  width: 100%;
  margin-top: 20px;
  float: right;
}

.copy li {
  list-style: none;
  float: left;
  padding-top: 15px;
  font-size: 20px;
}

.copy {
  width: 100%;
  margin-top: 20px;
  float: right;
}

/*-------------------------------------------- */
/*               footer area end             */
/*---------------------------------------------*/
/*-------------------------------------------- */
/*               About Us page area            */
/*---------------------------------------------*/
.about {
  text-align: center;
  color: #df2727;
  -webkit-transition: 3s;
  transition: 3s;
  padding: 20px 0 0 0;
  font-style: normal;
}

.about:after {
  display: block;
  height: 2px;
  width: 100px;
  content: "";
  margin: 0 auto;
  background-color: #0fb6e9;
  margin-top: 30px;
  margin-bottom: 5px;
}

/*-------------------------------------------- */
/*               About Us area end             */
/*---------------------------------------------*/
/*------------------------------------------------ */
/* MEDIA QUERIES CODES                    */
/*------------------------------------------------*/
/* iphone 6/7/8 and galaxy s5 */
@media only screen and (min-width: 300px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  /* Portrait and Landscape */
  .container {
    overflow: hidden;
  }
  h1 a span {
    margin-right: 45px;
  }
  .main-header .main-header_text {
    margin-right: 7px;
  }
  .main-header .main-header_text h1 a span {
    margin-left: 12px;
  }
  .hero-text .hero-text_primary {
    font-size: 30px;
  }
  header .hero-text .hero-text_primary .hero-text_primary_sub {
    margin-left: -2px;
    font-size: 18px;
  }
  .button-primary {
    width: 80px;
  }
  .hero-text a .button-primary {
    font-weight: 600;
    font-size: 16px;
  }
  .hero-text {
    margin-top: 80px;
  }
  header .hero-text .button-primary {
    margin-left: -0.2rem;
    padding: 0;
  }
  .navbar-toggler {
    background-color: #0ae8f088;
  }
  .nav-link a {
    font-weight: 700;
  }
  .gallery-section {
    padding-bottom: 50px;
  }
  .gallery-header {
    font-size: 24px;
  }
  .services-header {
    color: black;
    font-size: 24px;
  }
  .services-text {
    font-size: 20px;
    padding-bottom: 100px;
  }
  .services-section .fish-section {
    margin: 0 0 10px 0;
    width: 100%;
  }
  .services-section .chicken-section {
    margin: 10px 0;
    width: 100%;
  }
  .services-section .shrimp-section {
    margin: 10px 0;
    width: 100%;
  }
  .services-section .crab-section {
    margin: 10px 0;
    width: 100%;
  }
  .services-section .gizzard-section {
    margin: 10px 0;
    width: 100%;
  }
  .services-section .prawn-section {
    margin: 10px 0;
    width: 100%;
  }
  .jumbo-box {
    margin-top: 30px;
    width: 100%;
  }
  .pre-jumbo {
    width: 10%;
  }
  .jumbotron {
    width: 80%;
  }
  .post-jumbo {
    width: 10%;
  }
  .jumbotron p {
    font-size: 16px;
  }
  .carousel-inner {
    height: 250px;
  }
  .main-footer {
    width: 100%;
    height: 45rem;
  }
  h3 {
    font-size: 22px;
  }
  p {
    font-size: 16px;
  }
  .design {
    margin-top: 10px;
  }
  .design li a {
    margin-left: -5px;
  }
  .social-links .social li a {
    margin-left: -10px;
  }
}

/* Landscape */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    overflow: hidden;
  }
  .main-header_text h1 a {
    margin: 20px 50px 0 0;
  }
}

/* Portrait*/
/*# sourceMappingURL=main.css.map */